<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repository of Discourses</title>
    <link rel="stylesheet" href="/styles.css">
       
</head>
<body>
  <%- include('partials/navbar') %>
    <div class="container">
      <center>
        <img class="rounded" style="border: 1px solid black" width="10%" height="10%" src="https://www.dayalbagh.org.in/images/Approved_Latest_Gracious_Swarup.jpg">
        <h6>delivered by Most Revered Prof. Prem Saran Satsangi Sahab</h6>
        <h6>Chairman, Advisory Committee on Education, Dayalbagh Educational Institute</h6>
        <h6>and Eight Acclaimed Vaqt Sant Satguru of the <u>Ra</u> <u>Dha</u> <u>Sva</u> <u>Aa</u> <u>Mi</u> Faith Dayalbagh, Agra-282005, Uttar Pradesh, India</h6>
   <hr>   
</center>
<% if(message) { %>
    <script>
      Swal.fire({
        title: "Alert",
        text: "<%= message %>",
        icon: "info",
      });
      document.addEventListener("DOMContentLoaded", function () {
        if (window.location.search.includes("message=")) {
          // Small delay to ensure the alert is displayed first
          setTimeout(() => {
            window.history.replaceState(
              {},
              document.title,
              window.location.pathname
            );
          }, 100);
        }
      });
    </script>
    <% } %>
<div class="card">
  <div class="card-header">
   <b>Login with your credentials to access the portal</b> 
  </div>
  <div class="card-body">
  <form action="/user-login" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>
  </div>
</div>

  <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       <i class="bi bi-info-circle-fill"></i> &nbsp; About Conference Management Toolkit
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">

<br>
<b>An Integrated Toolkit for End-to-End Conference Management</b>
<Br>
Conference Management Toolkit is a secure web platform designed to simplify end-to-end academic conference management — 
    from paper submission to review, scheduling, and result generation. 
    Users sign in with their Google account to access personalized dashboards for submission, review, and administrative workflows.<ul><Br>

  <li><b>Conference Hosting:</b> Conference chairs can initiate and configure new conferences, define submission deadlines, assign reviewers, and oversee the entire operational flow through a dedicated administrative dashboard.
</li>
<li><b>Submission and Collaboration:</b> Primary authors can submit their initial papers through a secure portal. Upon submission, a unique paper code is generated, which can be shared with co-authors to grant them access for collaboration and contribution to the manuscript.
</li>

<li>
<b>Peer Review and Decision:</b> Once submitted, papers are assigned to reviewers for evaluation. Based on the collective feedback and scores from the review process, a decision (e.g., Accepted, Minor/Major Revisions, Rejected) is made. Authors are notified automatically and, if accepted, are prompted to submit the final, camera-ready version of their paper.

</li>

<li>
<b>Scheduling and Presentation:</b> Following the final submission, the system schedules the presentation slots and informs the authors of the confirmed date and time. This information is updated in real-time on the user's personal dashboard.

</li>

<li>
<b>Live Evaluation and Result Generation:</b> During the conference presentation, designated panelists can access a digital evaluation form directly on the platform. They can submit scores and qualitative remarks in real-time. The system then aggregates all review scores and panelist feedback to automatically calculate and generate the final results, ensuring a transparent and efficient evaluation process.      </div>

</li>
</ul>



    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       <i class="bi bi-info-circle-fill"></i>&nbsp; About DEI Multimedia Laboratory
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
Our state-of-the-art Multimedia Laboratory serves as the dynamic hub of the Institute's global digital education initiatives. Equipped with professional-grade cameras, advanced projection systems, and high-performance video editing stations, this central facility is dedicated to producing engaging e-content for our distance education programmes. Furthermore, the laboratory is regularly utilized to broadcast live lectures and host real-time interactive sessions, seamlessly connecting our faculty with students in remote classrooms across India and internationally. A skilled team of technical staff oversees all operations, ensuring a flawless and professional execution of our commitment to accessible, technology-driven learning.    <br>
</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
       <i class="bi bi-info-circle-fill"></i>&nbsp; About Dayalbagh Educational Institute
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
The Dayalbagh Educational Institute (DEI), declared a Deemed University by the Government of India in 1981, is a multidisciplinary institution with faculties in Arts, Commerce, Education, Engineering, Science, and Social Sciences. Located in the self-contained colony of Dayalbagh near Agra, the Institute has grown significantly since its origin as the Radhasoami Educational Institute in 1917, integrating various colleges and schools over the decades, including a technical college, intermediate colleges, and a women's polytechnic. Committed to an innovative and comprehensive educational philosophy that balances excellence with relevance and inculcates values of humanism and secularism, DEI is open to all irrespective of background. The Institute is well-equipped with central facilities and hosts advanced research hubs like the 'Quantum and Nano-Computing Virtual Centre' and the 'Centre for Consciousness Studies'. Recognized for its quality, DEI was ranked 8th among 126 Deemed Universities by the MHRD in 2009 and accredited with an 'A' Grade by NAAC in 2013. It also plays a vital role in skill development through its distance education programmes, vocational courses, and its partnership with the Uttar Pradesh Skill Development Mission.      </div>
    </div>
  </div>
</div>


   </div>

   <%- include('partials/footer') %>


 



</body>
</html>