<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repository of Discourses</title>
    <link rel="stylesheet" href="/styles.css">
       
</head>
<body>
  <%- include('partials/navbar') %>
    <div class="container">
    
<% if(message) { %>
    <script>
      Swal.fire({
        title: "Alert",
        text: "<%= message %>",
        icon: "info",
      });
      document.addEventListener("DOMContentLoaded", function () {
        if (window.location.search.includes("message=")) {
          // Small delay to ensure the alert is displayed first
          setTimeout(() => {
            window.history.replaceState(
              {},
              document.title,
              window.location.pathname
            );
          }, 100);
        }
      });
    </script>
    <% } %>
<div class="card">
  <div class="card-header">
   <b>Sign In</b> 
  </div>
  <div class="card-body">
  <form action="/user-login" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Send Magic Link</button>
</form>
  </div>
</div>

  <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       <i class="bi bi-info-circle-fill"></i> &nbsp; About Repository of Discourses
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">

Coming Soon!
 </div>





    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       <i class="bi bi-info-circle-fill"></i>&nbsp; About DEI Multimedia Laboratory
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
Our state-of-the-art Multimedia Laboratory serves as the dynamic hub of the Institute's global digital education initiatives. Equipped with professional-grade cameras, advanced projection systems, and high-performance video editing stations, this central facility is dedicated to producing engaging e-content for our distance education programmes. Furthermore, the laboratory is regularly utilized to broadcast live lectures and host real-time interactive sessions, seamlessly connecting our faculty with students in remote classrooms across India and internationally. A skilled team of technical staff oversees all operations, ensuring a flawless and professional execution of our commitment to accessible, technology-driven learning.    <br>
</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
       <i class="bi bi-info-circle-fill"></i>&nbsp; About Dayalbagh Educational Institute
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
The Dayalbagh Educational Institute (DEI), declared a Deemed University by the Government of India in 1981, is a multidisciplinary institution with faculties in Arts, Commerce, Education, Engineering, Science, and Social Sciences. Located in the self-contained colony of Dayalbagh near Agra, the Institute has grown significantly since its origin as the Radhasoami Educational Institute in 1917, integrating various colleges and schools over the decades, including a technical college, intermediate colleges, and a women's polytechnic. Committed to an innovative and comprehensive educational philosophy that balances excellence with relevance and inculcates values of humanism and secularism, DEI is open to all irrespective of background. The Institute is well-equipped with central facilities and hosts advanced research hubs like the 'Quantum and Nano-Computing Virtual Centre' and the 'Centre for Consciousness Studies'. Recognized for its quality, DEI was ranked 8th among 126 Deemed Universities by the MHRD in 2009 and accredited with an 'A' Grade by NAAC in 2013. It also plays a vital role in skill development through its distance education programmes, vocational courses, and its partnership with the Uttar Pradesh Skill Development Mission.      </div>
    </div>
  </div>
</div>


   </div>

   <%- include('partials/footer') %>


 



</body>
</html>